# Linguagem Utilizada para Desenvolver a Aplicação
language: python

# Versão que a aplicação suporta.
python:
  - "3.8"

# Versão do Ubuntu
dist: focal
os: linux

addons:
  sonarcloud:
    organization: pauloedums
    token: ${SONAR_TOKEN}

jobs:
  include:
    - stage: Build & Tests
      name: "Unit Test, Quality & Security"

      # Instalação de Módulos que são necessários para a Aplicação.
      install:
        - pip install flask flask-wtf coverage

      # Defini o script de Teste que deve rodar toda vez que o código for alterado.
      script:
        - coverage run test.py || travis_terminate 1;
        - coverage report app.py || travis_terminate 1;
        - coverage xml app.py || travis_terminate 1;
        - sonar-scanner || travis_terminate 1;

    - stage: Stage Deploy
      name: Heroku Deploy
      script: skip

      # Definir o Deploy no Heroku
      deploy:
        provider: heroku
        strategy: api
        api_key: $HEROKU_API_KEY
        edge: true
        app: devopslab-paulomarques
        on:
          branch: main

    - stage: Stage Test
      name: GET URL Stage
      script:
        - curl https://devopslab-paulomarques.herokuapp.com/ | grep Lab || travis_terminate 1;

    - stage: Production Deploy
      name: Google Api Engine
      script: skip

      # Definir o Deploy no Google Cloud
      deploy:
        provider: gae
        keyfile: ../gcpkey.json
        project: lab-devops-cloud-paulomarques
        on:
          branch: main

    - stage: Production Test
      name: GET URL Production
      script:
        - curl https://lab-devops-cloud-paulomarques.uc.r.appspot.com/ | grep Lab || travis_terminate 1;
